/*
**  Broadcast - Live Event Video Broadcasting Portal
**  Copyright (c) 2025-2026 Dr. Ralf S. Engelschall <rse@engelschall.com>
**  Licensed under GPL 3.0 <https://spdx.org/licenses/GPL-3.0-only>
*/

:root
    --color-std-bg-0: #000000
    --color-std-bg-1: #1a1a1a
    --color-std-bg-2: #242424
    --color-std-bg-3: #2e2e2e
    --color-std-bg-4: #383838
    --color-std-bg-5: #424242

    --color-std-fg-0: #606060
    --color-std-fg-1: #808080
    --color-std-fg-2: #a0a0a0
    --color-std-fg-3: #c0c0c0
    --color-std-fg-4: #e0e0e0
    --color-std-fg-5: #ffffff

    --color-acc-bg-1: #114477
    --color-acc-bg-2: #225588
    --color-acc-bg-3: #336699
    --color-acc-bg-4: #4477aa
    --color-acc-bg-5: #5588bb

    --color-acc-fg-0: #6090c0
    --color-acc-fg-1: #80b0e0
    --color-acc-fg-2: #88b8e8
    --color-acc-fg-3: #90c0f0
    --color-acc-fg-4: #98c8f8
    --color-acc-fg-5: #a0d0ff

    --font-family:    "TypoPRO Source Sans Pro", sans-serif

html,
body
    margin: 0
    padding: 0
    width: 100vw
    height: 100vh
    overflow: hidden
    color: var(--color-std-fg-3)
    background-color: var(--color-std-bg-1)
    font-family: var(--font-family)
    font-weight: normal
    user-select: none
    font-size: 11pt
